// # Front-end Style Guide

// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

// ## Colors

// ### Primary

$clr-primary-magenta: hsl(300, 43%, 22%);
$clr-primary-pink: hsl(333, 80%, 67%);

// ### Neutral

$clr-neutral-gray: hsl(303, 10%, 53%);
$clr-neutral-light-gray: hsl(300, 24%, 96%);
$clr-neutral-light: hsl(0, 0%, 100%);

// ## Typography

// ### Body Copy

$fs-base: 15px;

// ### Font

$ff-main: 'League Spartan', sans-serif;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

// Mixins

@mixin flex($direction, $gap) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

* {
  box-sizing: border-box;
  font-family: $ff-main;
}

html {
  font-size: $fs-base;
}

body {
  @include flex(row, 0);
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  background-color: $clr-neutral-light;
  background-image: url(/images/bg-pattern-top-mobile.svg),
    url(/images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

.card {
  @include flex(column, 2rem);

  padding: 5rem 1.65rem;
  text-align: center;

  max-width: 375px;

  &__top-left {
    @include flex(column, 1.35rem);
  }

  &__title {
    font-size: 2.65rem;
    color: $clr-primary-magenta;
    font-weight: $fw-bold;

    line-height: 80%;
    letter-spacing: -1px;
  }

  &__paragraph {
    color: $clr-neutral-gray;
    font-weight: $fw-medium;
    font-size: 1.23rem;
    line-height: 1.65rem;
    letter-spacing: -0.5px;
  }

  &__top-right {
    @include flex(column, 1rem);

    & .card__container {
      @include flex(column, 1rem);

      padding: 1rem;
      border-radius: 0.25rem;
      background-color: $clr-neutral-light-gray;

      & .card__stars {
        @include flex(row, 0.5rem);
        justify-content: center;
      }
    }
  }

  &__rate {
    color: $clr-primary-magenta;
    font-size: 1.15rem;
    font-weight: $fw-bold;
  }

  &__bottom {
    @include flex(column, 1rem);

    & .card__container {
      @include flex(column, 1.5rem);
      color: $clr-neutral-light;
      background-color: $clr-primary-magenta;

      border-radius: 0.5rem;
      padding: 2.5rem 2rem;
    }
  }

  &__buyer {
    @include flex(row, 1.35rem);
    align-items: center;

    &-avatar {
      height: 2.75rem;
      border-radius: 50%;
    }

    &-details {
      @include flex(column, 0.15rem);
      align-items: flex-start;
    }
  }

  &__name {
    font-size: 1.15rem;
    font-weight: $fw-bold;
  }

  &__verified {
    font-size: 1.15rem;
    color: $clr-primary-pink;
  }

  &__review {
    text-align: left;
    font-size: 1.16rem;
    line-height: 1.45rem;
    letter-spacing: -0.5px;
    font-weight: $fw-medium;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url(/images/bg-pattern-top-desktop.svg),
      url(/images/bg-pattern-bottom-desktop.svg);
  }
  .card {
    max-width: 1180px;

    padding: 2rem;
    gap: 4.5rem;

    &__top {
      @include flex(row, 10rem);
      text-align: left;
      justify-content: space-between;
      gap: 0;

      &-left {
        width: 420px;
        gap: 1.8rem;
      }

      &-right {
        justify-content: center;
        width: 550px;

        & .card__container {
          flex-direction: row;
          gap: 2rem;
          width: 450px;

          padding: 1.25rem 2rem;
          align-self: center;
        }

        & .card__container:nth-child(1) {
          //   margin-left: -6rem;
          align-self: flex-start;
        }
        & .card__container:nth-child(3) {
          align-self: flex-end;
        }
      }
    }
    &__title {
      font-size: 3.85rem;
      line-height: 85%;
      letter-spacing: -1.75px;
    }

    &__bottom {
      flex-direction: row;
      gap: 2rem;
      align-items: flex-start;

      & > * {
        flex: 1;
      }

      & .card__container:nth-child(2) {
        margin-top: 1rem;
      }
      & .card__container:nth-child(3) {
        margin-top: 2rem;
      }
    }
  }
}
