// # Front-end Style Guide

// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

// ## Colors

// ### Primary

$clr-primary-magenta: hsl(300, 43%, 22%);
$clr-primary-pink: hsl(333, 80%, 67%);

// ### Neutral

$clr-neutral-gray: hsl(303, 10%, 53%);
$clr-neutral-light-gray: hsl(300, 24%, 96%);
$clr-neutral-light: hsl(0, 0%, 100%);

// ## Typography

// ### Body Copy

$fs-base: 15px;

// ### Font

$ff-main: 'League Spartan', sans-serif;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

// Mixins

@mixin flex($direction, $gap) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

* {
  box-sizing: border-box;
  font-family: $ff-main;
}

html {
  font-size: $fs-base;
}

body {
  @include flex(row, 0);
  justify-content: center;
  align-items: center;
  background-image: url(/images/bg-pattern-top-mobile.svg),
    url(/images/bg-pattern-bottom-mobile.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;

  min-height: 100vh;
}

.card {
  @include flex(column, 2rem);
  padding: 5rem 1.65rem 10rem 1.65rem;
  text-align: center;

  max-width: 375px;

  &__top-left {
    @include flex(column, 1.35rem);
  }

  &__title {
    font-size: 2.65rem;
    color: $clr-primary-magenta;
    font-weight: $fw-bold;

    line-height: 80%;
    letter-spacing: -1px;
  }

  &__paragraph {
    color: $clr-neutral-gray;
    font-weight: $fw-medium;
    font-size: 1.23rem;
    line-height: 1.65rem;
    letter-spacing: -0.5px;
  }

  &__top-right {
    @include flex(column, 1rem);

    & .card__container {
      padding: 1rem;
      border-radius: 0.25rem;
      background-color: $clr-neutral-light-gray;

      & .card__stars {
        @include flex(row, 0.5rem);
        justify-content: center;
      }
    }
  }

  &__rate {
    margin-top: 1rem;
    color: $clr-primary-magenta;
    font-size: 1.15rem;
    font-weight: $fw-bold;
  }

  &__bottom {
    @include flex(column, 1rem);

    & .card__container {
      @include flex(column, 1.5rem);
      color: $clr-neutral-light;
      background-color: $clr-primary-magenta;

      border-radius: 0.5rem;
      padding: 2.5rem 2rem;
    }
  }

  &__buyer {
    @include flex(row, 1.35rem);
    align-items: center;

    &-avatar {
      height: 2.75rem;
      border-radius: 50%;
    }

    &-details {
      @include flex(column, 0.15rem);
      align-items: flex-start;
    }
  }

  &__name {
    font-size: 1.15rem;
    font-weight: $fw-bold;
  }

  &__verified {
    font-size: 1.15rem;
    color: $clr-primary-pink;
  }

  &__review {
    text-align: left;
    font-size: 1.16rem;
    line-height: 1.45rem;
    letter-spacing: -0.5px;
    font-weight: $fw-medium;
  }
}
